<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <h1>Show all cars</h1>

    <table border="1">
        <tr>
            <th:block th:each="msg : ${listCars}">

            <td th:text="${msg}"></td>

            </th:block>
        </tr>
    </table>

    <h1>Show cars with parameter count</h1>

    <th:block th:each="msg1 : ${listCarsNumbers}">

        <td th:text="${msg1}"></td>

    </th:block>

</div>
</body>
</html>