<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <h1>Show cars</h1>

    <table border="1">
        <tr>
            <th>No</th>
            <th>brandCar</th>
            <th>modelCar</th>
            <th>speedCar</th>
        </tr>

        <tr th:each= "listcars, state : ${listCars}"
            class="row" th:classappend="${state.odd} ? 'odd-row' : 'even-row'">
            <td th:text="${state.count}">No</td>
            <td th:text="${listCar.brandCar}">brandCar</td>
            <td th:text="${listCar.modelCar}">modelCar</td>
            <td th:text="${listCar.speedCar}">speedCar</td>
        </tr>
    </table>

    <p th:text="${cars}"/>

<!--    <table border="1">-->
<!--        <tr>-->
<!--            <td>brandCar</td>-->
<!--            <td>modelCar</td>-->
<!--            <td>speedCar</td>-->
<!--        </tr>-->
<!--        <th:forEach var="cars" items="${cars}">-->
<!--            <tr>-->
<!--                <td>${cars.brandCar}</td>-->
<!--                <td>${cars.modelCar}</td>-->
<!--                <td>${cars.speedCar}</td>-->
<!--            </tr>-->
<!--        </th:forEach>-->
<!--    </table><br>-->



</div>
</body>
</html>